<div class="jumbotron">

  <h1>Overview</h1>

  <ul>
    <li>
       <a href="/demo">Metaphysik</a>
    </li>
    <li>
      Theologie
    </li>
    <li>
      Einführungskurs Ethik
    </li>
    <li>
      Spinoza
    </li>
  </ul>
</div>
